/* CSS Document */
body{ margin:0px; padding:0px;}
.box{ min-width:320px; max-width:720px; width:100%; height:auto; margin:0 auto; position:absolute;}
.index{ width:100%; height:100%;}
.index_bg{ width:100%; height:100%; z-index:-1; position:relative;}
.index_txt{ width:100%; height:12%; top:34%; border:0px #FF0000 solid; position:absolute; z-index:10;}
.index_txt p{ width:100%; height:50%; text-align:center; font-family:黑体; font-size:1.4em; color:#FFFFFF; border:0px #FFFFFF solid; margin:0; letter-spacing:2px; text-shadow:0 0 2px #000000;}
.index_input{ width:90%; height:50px; margin:0 5%; border:#827E7B solid 0px; position:absolute; top:48%; z-index:10;}
.index_input_cet{ float:left; width:30%; height:50px; background-color:#FFFFFF; border:0; opacity:1; position:relative;}
.index_input_select{ float:left; width:70%; height:50px; text-align:center; font-family:Arial; font-size:1.2em; color:#afafaf; height:50px; line-height:50px;}
.index_input_arrow{ width:25%; height:50px; margin-left:72%; position:absolute;}
.index_input_arrow_bottom0{ position:absolute; border-color:#afafaf transparent transparent transparent; border-width:8px 8px 0 8px; border-style:solid; top:23px;}
.index_input_arrow_bottom1{ position:absolute; border-color:#FFFFFF transparent transparent transparent; border-width:8px 8px 0 8px; border-style:solid; top:20px;}
.index_input_arrow_top0{ position:absolute; border-color:transparent transparent #afafaf transparent; border-width:0 8px 8px 8px; border-style:solid; top:20px;}
.index_input_arrow_top1{ position:absolute; border-color:transparent transparent #FFFFFF transparent; border-width:0 8px 8px 8px; border-style:solid; top:23px;}
.index_input_list{ width:100%; height:62px; border:0px #FFFF00 solid; margin-top:50px; background-color:#FFFFFF; opacity:0.95;}
.index_input_list div{ width:100%; height:30px; line-height:30px; text-align:center; font-family:Arial; font-size:1.2em; color:#afafaf; border-top:1px solid #CCCCCC;}
.index_input input{ float:right; width:60%; margin:0 20px 0 10px; height:48px; background-color:#FFFFFF; font-family:黑体; font-size:1.2em; color:#afafaf; line-height:48px; text-align:center; border:0;opacity:0.9; border-radius:0px; position:absolute; -webkit-appearance:none;}
.index_submit input{ width:30%; height:19.4%; line-height:19%; margin:0 35%; border:0px #000000 solid; background:transparent; opacity:0.9; text-align:center; color:#FFFFFF; font-family:黑体; font-size:1.8em; position:absolute; top:67.5%; -webkit-appearance:none;}

.box2{ min-width:320px; max-width:720px; width:100%; height:100%; margin:0 auto; position:absolute; border:0px #000000 solid;}
.result_score{ width:88%; height:auto; margin:10% 2% 0 10%; border:0px #FF0000 solid; font-family:黑体; position:relative;}
.result_score p{ color:#00CBEB;}
.result_score_Toefl{ width:53%; height:120px; float:left; border:0px #0000FF solid;}
.result_score_Ielts{ width:45%; height:120px; float:left; border:0px #3300CC solid;}
.result_img{ width:100%; height:auto; position:relative; margin:0; padding-top:10%; z-index:100;}
.result_code{ width:70%; height:auto; position:relative; background-color:#00CBEB; padding:5% 15% 1% 15%; border:0px #000099 solid; top:-10px; z-index:80;}
.result_code_img{ width:auto; height:auto; position:relative;}
.result_txt{ width:100%; height:auto; padding:2% 0; background-color:#00CBEB; position:relative; top:-15px; z-index:90; border:0px #00FF00 solid;}
.result_txt p{ font-size:0.9em; color:#FFFFFF; height:23px; line-height:23px; margin:0; text-align:center;}
.result_link{ width:100%; height:160px; padding:10px 0; margin:0; position:relative; top:-30px; background-color:#00CBEB; z-index:70;}
.result_link div{ width:49%; height:40px; line-height:40px; margin:20px 25%; border:2px #FFFFFF solid; text-align:center;}
.result_link_share{ background-color:#FFFFFF; color:#00CBEB;}
.result_link_test{ background-color:#00CBEB; color:#FFFFFF;}
.result_share{ position:absolute; top:0; left:0; z-index:999;}
.result_share img{ width:100%; height:100%; position:fixed;}